.header-container {
    position: fixed;
    top: 0;
    background-color: #333333;
    z-index: 249;
    height: 8.5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-container img {
    object-fit: scale-down;
    height: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
